.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 22px 60px;
  background-color: var(--color-neutral-bg);
  border: 1px solid var(--color-border);
  box-shadow: 0px 3px 6px var(--color-shadow);
  font-family: var(--font-main) 'Calibri', Arial, sans-serif;
}

.navButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  color: var(--color-main);
  font-weight: 600;
}

.navIcon {
  padding: 1px 3px 0 0;
}

.centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}